<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/Common.css}"/>
<style>
    .input-config{
        margin-top: 15px;
    }
    .btnDiv{
        width: 300px;
        margin: 0 auto;
        margin-top: 10px;
    }
    #subBtn{
        width: 100%;
    }
    .msg-config{
        width: 300px;
        height: 0px;
        overflow: hidden;
        font-size: 14px;
        padding-left: 5px;
    }
</style>


<body>

    <div class="container">

        <div class="row">
            <a class="nav-r-m all-center col-md-1 col-md-offset-9" href="/home">
                主页
            </a>

            <a class="nav-r-m all-center col-md-1" href="/FeedBack">
                意见反馈
            </a>
            <a id="returnLogin" class="nav-r-m all-center col-md-1" href="/loginEnter">
                返回登陆
            </a>
        </div>

        <div class="row mtop25" style="padding: 0 250px">
            <div id="forgetBox" class="col-md-6 col-md-offset-3 borderR5" style="background-color: whitesmoke;padding-bottom: 30px">
                <div style="width: 300px;font-size: 20px;margin-top: 25px">
                    忘记密码?
                </div>
                <input type="text" id="account" name="account" class="form-control text-center input-config" placeholder="账号">
                <!--<input type="password" id="password" name="password" class="form-control text-center  input-config" placeholder="密码">-->
                <!--<div id="passwordMsgDiv" class="msg-config"></div>-->
                <!--<input type="password" id="repeat" name="repeat" class="form-control text-center  input-config" placeholder="重复密码">-->
                <!--<div id="repeatMsgDiv" class="msg-config"></div>-->
                <!--<div class="btnDiv">-->
                    <!--<button id="subBtn"  type="button" class="btn btn-default" style="margin-right: 15px" >提交</button>-->
                <!--</div>-->

                <!--<div style="width: 360px;font-size: 17px;margin-top: 10px;color: red">-->
                    <!--该账户未设置密保,无法更改密码,请联系管理员-->
                <!--</div>-->
            </div>
        </div>


    </div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/plus/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/tools.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var account;

    if([[${account}]]!=null && [[${account}]]!=""){
        $("#account").val([[${account}]]);
        $("#returnLogin").hide();
        accountInput();
    }


    $("#account").change(function (){
        accountInput();
    })

    function accountInput(){
        account=$("#account").val();
        console.log(account);
        $.ajax({
            type:'post',
            url:'getUserInfoByAccount',
            data:{
                account:account
            },
            dataType:'json',
            success:function (data) {

                console.log(data);
                if(data.data.user!=null && data.data.user.problem!=null){
                    $(".existTip").remove();
                    var problem=$("<div class='changeElement' style=\"width: 300px;font-size: 17px;margin-top: 10px\">密保问题:"+data.data.user.problem+"</div>");
                    problem.appendTo($("#forgetBox"));
                    var answer=$("<input type=\"text\" id=\"answer\" name=\"answer\" class=\"changeElement form-control text-center input-config\" placeholder=\"密保答案\">")
                    answer.appendTo($("#forgetBox"));
                    var nextBtn=$("<div class=\"btnDiv\"><button id=\"subBtn\"  type=\"button\" class=\"btn btn-default\" style=\"margin-right: 15px\" >下一步</button></div>")
                    nextBtn.click(function (){
                        if(answer.val()!="" && answer.val()!=null){
                            $.ajax({
                                type:'post',
                                url:'checkProblem',
                                data:{
                                    account:account,
                                    answer:answer.val()
                                },
                                dataType:'json',
                                success:function (data) {
                                    if(data.data){
                                        nextFun();
                                    }else{
                                        layer.msg("密保答案不正确")
                                    }

                                },
                                error:function (e) {
                                    console.log(e);
                                }
                            })
                        }else{
                            layer.msg("密保答案不能为空")
                        }

                    })
                    nextBtn.appendTo($("#forgetBox"));
                }else{
                    $(".changeElement").remove();
                    var tip=$("<div class='existTip text-center' style=\"width: 360px;font-size: 17px;margin-top: 10px;color: red\">账户不存在或未设置密保问题,请联系管理员</div>")
                    tip.appendTo($("#forgetBox"));
                }

            },
            error:function (e) {
                console.log(e);
            }
        })
    }

    var passwordMsgHeghtLock=false;
    var repeatMsgHeghtLock=false;
    function nextFun(){
        $("#forgetBox").empty();
        $("<div style=\"width: 300px;font-size: 20px;margin-top: 25px\">修改密码</div>").appendTo($("#forgetBox"));

        var password=$("<input type=\"password\" id=\"password\" name=\"password\" class=\"form-control text-center  input-config\" placeholder=\"密码\">");
        var passwordMsgDiv=$("<div id=\"passwordMsgDiv\" class=\"msg-config\"></div>")
        var repeat=$("<input type=\"password\" id=\"repeat\" name=\"repeat\" class=\"form-control text-center  input-config\" placeholder=\"重复密码\">\n")
        var repeatMsgDiv=$("<div id=\"repeatMsgDiv\" class=\"msg-config\"></div>")
        var btnDiv=$("<div class=\"btnDiv\"></div>")
        var subBtn=$("<button id=\"subBtn\"  type=\"button\" class=\"btn btn-default\" style=\"margin-right: 15px\" >提交</button>\n")
        subBtn.click(function (){
            var passwordNotNull=(password.val()!=null&&password.val()!="");
            var repeatNotNull=(repeat.val()!=null&&repeat.val()!="");
            var NullCheck=(passwordNotNull&&repeatNotNull);

            var passwordCondition=(passwordMsgDiv.children().length<=0);
            var repeatCondition=(repeatMsgDiv.children().length<=0);
            var conditionCheck=(passwordCondition&&repeatCondition);

            if(!NullCheck){
                layer.msg("密码不能为空");
                return;
            }
            if(conditionCheck){
                // layer.msg("提交");
                $.ajax({
                    type:'post',
                    url:'changePassoword',
                    data:{
                        account:account,
                        newPassowrd:password.val()

                    },
                    dataType:'json',
                    success:function (data) {
                        window.location.href="/loginEnter";
                        // layer.msg("修改成功");
                    },
                    error:function (e) {
                        console.log(e);
                    }
                })
            }else{
                layer.msg("密码不合法");
            }



        })

        subBtn.appendTo(btnDiv);


        function changePasswordMsgHeight(flag){
            if(passwordMsgHeghtLock){
                changePasswordMsgHeight(flag);
                return;
            }
            passwordMsgHeghtLock=true;
            if(flag){
                passwordMsgDiv.animate({
                    height:passwordMsgDiv.height()-23
                },200);
            }else{
                passwordMsgDiv.animate({
                    height:passwordMsgDiv.height()+23
                },200);
            }
            passwordMsgHeghtLock=false;
        }


        //密码改变后判断是否合法
        password.change(function () {
            var reg=/^\w{8,16}$/;
            if(reg.test($("#password").val())){
                changePasswordMsgHeight(true);
                $("#passwordRule").remove();
            }else {
                if($("#passwordRule").length<=0){
                    changePasswordMsgHeight(false);
                    $("<div id='passwordRule' class=\"tipMsg\">密码长度为8-16,且不能有特殊字符</div>").appendTo(passwordMsgDiv);
                }
            }

            //密码改变后重复输入密码出重新判断2次密码是否一致
            if(repeat.val()!=""){
                repeatChange();
            }
        });

        repeat.change(repeatChange);


        function changeRepeatMsgHeight(flag){
            if(repeatMsgHeghtLock){
                changeRepeatMsgHeight(flag);
                return;
            }
            repeatMsgHeghtLock=true;
            if(flag){
                repeatMsgDiv.animate({
                    height:repeatMsgDiv.height()-23
                },200);
            }else{
                repeatMsgDiv.animate({
                    height:repeatMsgDiv.height()+23
                },200);
            }
            repeatMsgHeghtLock=false;
        }

        function repeatChange() {
            var passwordVal=password.val();
            var repeatVal=repeat.val();
            if(passwordVal==repeatVal){
                changeRepeatMsgHeight(true);
                $("#notSame").remove();
            }else{
                if($("#notSame").length<=0){
                    changeRepeatMsgHeight(false);
                    $("<div id='notSame' class=\"tipMsg\">两次密码不一致</div>").appendTo(repeatMsgDiv);
                }

            }
        }






        password.appendTo($("#forgetBox"));
        passwordMsgDiv.appendTo($("#forgetBox"));
        repeat.appendTo($("#forgetBox"));
        repeatMsgDiv.appendTo($("#forgetBox"));
        btnDiv.appendTo($("#forgetBox"));

    }


</script>
</html>