<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="container"></div>

</body>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/ImgPreview.js}"></script>
<script type="text/javascript">
    uploadImgPreviewInit({
        name:"headPic",
        containerId: "#container",
        defaultImg:"/img/z_add.png"
    });

</script>
</html>